<div class="main-div padding-2">
    <div>
        <mat-card class="example-card">
            <form [formGroup]="profileForm" (ngSubmit)="saveChanges()">
                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input autocomplete="off" matInput formControlName="name">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Apellido</mat-label>
                    <input autocomplete="off" matInput formControlName="surname">
                </mat-form-field>

                <mat-card-actions>
                    <button mat-raised-button type="button" color="accent">
                        <mat-icon>undo</mat-icon> Cancelar
                    </button>
                    <button type="submit" mat-raised-button class="btn-primary">
                        <mat-icon>save</mat-icon> Guardar cambios
                    </button>
                </mat-card-actions>
            </form>
        </mat-card>
    </div>