<div class="bg-image"></div>
<div class="main-div padding-2">
    <div>
        <mat-card class="example-card">
            <h1><strong>Iniciar sesión</strong></h1>
            <form class="example-form text-align-center" [formGroup]="loginForm">
                <p>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Correo electrónico</mat-label>
                        <input type="text" matInput formControlName="email">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Contraseña</mat-label>
                        <input type="password" matInput formControlName="password">
                    </mat-form-field>
                </p>
                <button type="button" (click)="login()" mat-raised-button class="btn-primary">
                    <mat-icon>login</mat-icon> Iniciar sesión
                </button>
            </form>
        </mat-card>
    </div>