a {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: lightgray;
}

.white {
  margin-left: -13%;
}

.active-link-sidenav {
  background: linear-gradient(60deg, #b4bcc8, #333);
  color: white;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.mat-list-option.mat-list-item-focus, .mat-list-option:hover, .mat-nav-list .mat-list-item.mat-list-item-focus,
.mat-nav-list .mat-list-item:hover {
  background: linear-gradient(60deg, #ab47bc, #512f6f);
  color: white;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.mat-nav-list .mat-list-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

::ng-deep .highlightmenu {
  background: linear-gradient(60deg, #b4bcc8, #333);
}

.sidenavelement {
  padding-left: 20px;
}

.role-button {
  background-color: white;
  color: black;
}
