<div class="main">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Organizar actividad</mat-card-title>
        </mat-card-header>
        <form class="example-form" [formGroup]="activityForm" (ngSubmit)="newActivity()">
            <mat-form-field appearance="outline">
                <mat-label>Título de actividad</mat-label>
                <input autocomplete="off" id="txtActivityTitle" type="text" matInput required formControlName="title"
                    autocomplete="off">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Medio de movilidad</mat-label>
                <input autocomplete="off" type="text" matInput required formControlName="meanOfTransportation"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                    (optionSelected)="onSelectionChange($event)">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Fecha de inicio</mat-label>
                        <input autocomplete="off" matInput required [matDatepicker]="startDatePicker"
                            formControlName="startDate">
                        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Fecha de fin</mat-label>
                        <input autocomplete="off" matInput required [matDatepicker]="endDatePicker"
                            formControlName="endDate">
                        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #endDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Hora de inicio</mat-label>
                        <input autocomplete="off" matInput required placeholder="24hr format" aria-label="24hr format"
                            [ngxTimepicker]="startTime" [format]="24" readonly formControlName="startTime">
                        <ngx-material-timepicker #startTime></ngx-material-timepicker>
                    </mat-form-field>

                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Hora de fin</mat-label>
                        <input autocomplete="off" matInput required placeholder="24hr format" aria-label="24hr format"
                            [ngxTimepicker]="endTime" [format]="24" readonly formControlName="endTime">
                        <ngx-material-timepicker #endTime></ngx-material-timepicker>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col age-field">
                    <mat-form-field>
                        <mat-label>Edad mínima (años)</mat-label>
                        <mat-slider formControlName="maxAge" min="0" max="120" thumbLabel color="primary" step="1"
                            formControlName="minAge" aria-label="units" class="slider">
                        </mat-slider>
                        <input autocomplete="off" type="number" matInput required hidden formControlName="minAge">
                    </mat-form-field>
                </div>
                <div class="col age-field">
                    <mat-form-field>
                        <mat-label>Edad máxima (años)</mat-label>
                        <mat-slider formControlName="maxAge" min="0" max="120" thumbLabel color="primary" step="1"
                            formControlName="maxAge" aria-label="units" class="slider">
                        </mat-slider>
                        <input autocomplete="off" type="number" matInput required hidden formControlName="minAge">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <mat-form-field>
                    <mat-label>Descripción</mat-label>
                    <textarea matInput required cols="20" rows="4" formControlName="description"></textarea>
                </mat-form-field>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <mat-slide-toggle formControlName="inviteFrecUsers">
                        Invitar usuarios frecuentes
                    </mat-slide-toggle>
                </div>
                <div class="col">
                    <button mat-button type="button" [matMenuTriggerFor]="menu">
                        <mat-icon>
                            help</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <div class="m-2">
                            Cuando crees tu actividad, enviaremos un correo electrónico a tus
                            <a routerLink="/contactos">usuarios frecuentes</a>
                            con un
                            enlace a la misma para que puedan participar
                        </div>
                    </mat-menu>
                </div>
            </div>
            <div>
                <google-map height="30vh" width="100%" *ngIf="mapApiLoaded | async" [center]="center"
                    (mapClick)="addMarker($event)" [zoom]="zoom">
                    <button mat-icon-button type="button" matTooltip="Quitar marcadores" (click)="clearMarkers()">
                        <mat-icon>place</mat-icon>
                        <mat-icon color="accent">clear</mat-icon>
                    </button>
                    <map-marker #marker="mapMarker" *ngFor="let markerPosition of markerPositions"
                        [position]="markerPosition" [options]="markerOptions" (mapClick)="openInfoWindow(marker)">
                    </map-marker>
                    <map-directions-renderer *ngIf="directionsResults" [directions]="directionsResults"
                        [options]="directionsOptions"></map-directions-renderer>
                    <map-kml-layer>
                    </map-kml-layer>
                    <map-info-window></map-info-window>
                </google-map>
            </div>

            <button type="submit" mat-flat-button color="primary">Crear</button>
        </form>
    </mat-card>
</div>