mat-drawer-container {
  height: 100% !important;
}

:host {
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;
}

.offSidebar {
  width: 60px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.float {
  position: fixed;
  border: none;
  width: 60px;
  height: 60px;
  bottom: 60px;
  right: 40px;
  color: #fff;
  background-color: #3f51b5;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
