<app-header (toggleSideBarForMe)="sideBarToggler($event)"></app-header>

<mat-drawer-container>
    <mat-drawer mode="side" class="mat-elevation-z9 onSidebar" [opened]="sideBarOpen" position="start">
        <app-sidebar (toggleSideBarForMe)="sideBarToggler($event)"></app-sidebar>
    </mat-drawer>
    <mat-drawer-content class="padding-bottom-20">
        <router-outlet></router-outlet>
        <button [matMenuTriggerFor]="menu" class="float btn-primary" target="_blank">
            <mat-icon class="my-float">add</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/actividad/organizar">
                <mat-icon>add</mat-icon>Organizar
            </button>
            <button mat-menu-item routerLink="/actividad/participar">
                <mat-icon>group_add</mat-icon>Participar
            </button>
        </mat-menu>
    </mat-drawer-content>
</mat-drawer-container>

<app-footer></app-footer>