.spacer {
  flex: 1;
}

img {
  max-width: 30%;
  height: auto;
}

mat-sidenav {
  width: 15%;
  background-color: whitesmoke;
}

.toolbar img {
  margin: 0 16px;
}

.example-spacer {
  flex: 1 1 auto;
}

.btn-personal-menu {
  padding-top: 2vh;
}

.menu-horizontal {
  padding: 0;

  .mat-list-item {
    display: inline-block;
    height: auto;
    width: auto;
    font-weight: 600;
    color: white;
  }
}

.menu-h {
  width: 100%;
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

button:focus,
button.focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}

ul li {
  list-style: none;
}

.mat-button {
  color: white !important;
  align-content: center;
}

.padding-15 {
  padding-top: 15px;
}

.logo {
  display: flex;
  color: white;
}
