<mat-card>
    <mat-card-header>
        <mat-card-title>
            <mat-icon>directions_bike</mat-icon>
            Título de actividad
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt enim minima, eaque voluptatem
        quaerat ut? Voluptatibus cum repellat, nostrum error soluta sed culpa minima eaque, amet iste consequuntur
        explicabo.
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary">Participar</button>
    </mat-card-actions>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>
            <mat-icon>directions_walk</mat-icon>
            Título de actividad
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt enim minima, eaque voluptatem
        quaerat ut? Voluptatibus cum repellat, nostrum error soluta sed culpa minima eaque, amet iste consequuntur
        explicabo.
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary">Participar</button>
    </mat-card-actions>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>
            <mat-icon>directions_car</mat-icon>
            Título de actividad
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt enim minima, eaque voluptatem
        quaerat ut? Voluptatibus cum repellat, nostrum error soluta sed culpa minima eaque, amet iste consequuntur
        explicabo.
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary">Participar</button>
    </mat-card-actions>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>
            <mat-icon>directions_run</mat-icon>
            Título de actividad
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt enim minima, eaque voluptatem
        quaerat ut? Voluptatibus cum repellat, nostrum error soluta sed culpa minima eaque, amet iste consequuntur
        explicabo.
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary">Participar</button>
    </mat-card-actions>
</mat-card>