mat-card {
    margin: 2vw;
}

mat-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

mat-card-subtitle.when {
    display: flex;
    justify-content: space-between;
}

.icon-time {
    display: flex;
    align-content: space-around;
    align-items: center;
}

.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
}
