mat-card {
    margin: 2vw;
}
.mat-expansion-panel-header-title {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
    height: 5vh;
    justify-content: space-between;
    align-items: center;
}

mat-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

mat-card-subtitle.when {
    display: flex;
    justify-content: space-between;
}

.icon-time {
    display: flex;
    align-content: space-around;
    align-items: center;
}

.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
}
