<div class="main">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Detalle de actividad</mat-card-title>
        </mat-card-header>
        <form class="example-form" [formGroup]="activityForm" (ngSubmit)="newActivity()">


            <mat-form-field appearance="outline">
                <mat-label>Título de actividad</mat-label>
                <input id="txtActivityTitle" type="text" matInput required formControlName="title">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Medio de movilidad</mat-label>
                <input type="text" matInput required formControlName="meanOfTransportation">
            </mat-form-field>
            <div class="mb-3">
                <google-map height="30vh" width="100%" *ngIf="mapApiLoaded | async" [center]="center">
                    <!-- <button mat-icon-button type="button" matTooltip="Quitar marcadores" (click)="clearMarkers()">
                        <mat-icon>place</mat-icon>
                        <mat-icon color="accent">clear</mat-icon>
                    </button> -->
                    <map-marker #marker="mapMarker" *ngFor="let markerPosition of markerPositions"
                        [position]="markerPosition" [options]="markerOptions" (mapClick)="openInfoWindow(marker)">
                    </map-marker>
                    <map-directions-renderer *ngIf="(directionsResults$ | async) as directionsResults"
                        [directions]="directionsResults" [options]="directionsOptions">
                    </map-directions-renderer>
                    <map-kml-layer>
                    </map-kml-layer>
                    <map-info-window></map-info-window>
                </google-map>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Fecha de inicio</mat-label>
                        <input matInput required [matDatepicker]="startDatePicker" formControlName="startDate">
                        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Fecha de fin</mat-label>
                        <input matInput required [matDatepicker]="endDatePicker" formControlName="endDate">
                        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #endDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Hora de inicio</mat-label>
                        <input matInput required placeholder="24hr format" aria-label="24hr format"
                            [ngxTimepicker]="startTime" [format]="24" readonly formControlName="startTime">
                        <ngx-material-timepicker #startTime></ngx-material-timepicker>
                    </mat-form-field>

                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Hora de fin</mat-label>
                        <input matInput required placeholder="24hr format" aria-label="24hr format"
                            [ngxTimepicker]="endTime" [format]="24" readonly formControlName="endTime">
                        <ngx-material-timepicker #endTime></ngx-material-timepicker>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col age-field">
                    <mat-form-field>
                        <mat-label>Edad mínima (años)</mat-label>
                        <input type="number" matInput required formControlName="minAge">
                    </mat-form-field>
                </div>
                <div class="col age-field">
                    <mat-form-field>
                        <mat-label>Edad máxima (años)</mat-label>
                        <input type="number" matInput required formControlName="maxAge">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <mat-form-field>
                    <mat-label>Descripción</mat-label>
                    <textarea matInput required cols="20" rows="4" formControlName="description"></textarea>
                </mat-form-field>
            </div>

            <div *ngIf="activity.participants?.length">
                <mat-card-title class="mt-3">Participantes</mat-card-title>
                <mat-list>
                    <mat-list-item *ngFor="let participant of activity.participants">
                        <mat-icon>person</mat-icon> {{participant}}
                    </mat-list-item>
                </mat-list>
            </div>
            <button type="button" mat-flat-button color="warn" *ngIf="isParticipant" (click)="disparticipate()">
                <mat-icon>undo</mat-icon> Anular participación
            </button>
            <button type="button" mat-flat-button color="primary" *ngIf="!isParticipant" (click)="participate()">
                <mat-icon>add</mat-icon> Participar
            </button>
            <button mat-flat-button color="primary" type="button" *ngIf="activity.creators?.includes(loggedUserName)"
                (click)="edit()">
                <mat-icon>check</mat-icon> Finalizar edición
            </button>
        </form>
    </mat-card>
</div>