.main-div {
    padding: 20px;
    display: flex;
    width: 100vw;
    height: 70vh;
    align-content: flex-start;
    justify-content: center;
}

.example-card {
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
}

.example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
}
