<h1>Bicicleta</h1>
<form class="example-form text-align-center" [formGroup]="form" (ngSubmit)="save()">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Marca</mat-label>
        <input autocomplete="off" type="text" matInput formControlName="brand">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Modelo</mat-label>
        <input autocomplete="off" type="text" matInput formControlName="model">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Rodado</mat-label>
        <input autocomplete="off" type="text" matInput formControlName="wheelBase">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Nivel de experiencia</mat-label>
        <mat-select formControlName="xpLevel">
            <mat-option *ngFor="let xpLevel of xpLevels | keyvalue" [value]="xpLevel.value">
                {{xpLevel.key}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button type="submit" *ngIf="enabled" mat-raised-button color="primary">
        <mat-icon>save</mat-icon> Guardar
    </button>
</form>