<h1>Agregar bicicleta</h1>
<form class="example-form text-align-center">
    <p>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Marca</mat-label>
            <input type="text" matInput formControlName="name">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Modelo</mat-label>
            <input type="text" matInput formControlName="surname">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Rodado</mat-label>
            <input type="text" matInput formControlName="email">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Experiencia</mat-label>
            <input type="password" matInput formControlName="password">
        </mat-form-field>
    </p>
    <button type="submit" mat-raised-button class="btn-primary">
        <mat-icon>update</mat-icon> Actualizar
    </button>

</form>