table {
    width: 100%;
}
.header-align-right {
    display: flex;
    padding: 21px 0;
    justify-content: flex-end;
}

.padding-bottom {
    padding-bottom: 4vh;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
