<div class="row justify-content-center padding-top-15 padding-left-50 example-card padding-bottom">
    <div class="row">
        <h1>Agregar medio de movilidad</h1>
        <mat-card>
            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                    <input type="text" matInput placeholder="Nombre" [formControl]="myControl" [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn"
                        (optionSelected)="onSelectionChange($event)">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <button type="button" mat-icon-button (click)="agregarContacto()">
                    <mat-icon>add</mat-icon>
                </button>
            </form>
        </mat-card>
    </div>

    <div class="row padding-top-15">

        <h2>Mis medios de movilidad</h2>
        <mat-card class="example-card">

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="medioMovilidad">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre}}</td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element" class="header-align-right">
                        <button (click)="openDialog()" matTooltip="Editar" mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button (click)="openDialog()" matTooltip="Ver" mat-icon-button>
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button (click)="openDialog()" matTooltip="Eliminar" mat-icon-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card>
    </div>
</div>